<div
  class="flex flex-col justify-center items-center w-full md:h-[100vh] h-[100vh]"
  *ngIf="quiz !== null"
>
  <div
    *ngIf="isGameOver"
    class="flex flex-col justify-center items-center w-full px-2 py-2 my-2"
  >
    <span class="text-white font-bold text-2xl m-2"
      >your score: {{ score }}/{{ total }}</span
    >
    <button class="p-3 m-2 bg-green-800 rounded-md" (click)="restart()">
      try agian
    </button>
  </div>
  <div
    class="flex flex-col justify-start items-center h-[100vh] gap-5 w-full my-2"
    *ngIf="question !== null && !isGameOver"
  >
    <div
      class="flex flex-col justify-center items-center md:h-[40vh] h-[40vh] bg-blue-600 rounded-md mb-5 w-[80%] mt-5"
    >
      <div
        class="flex flex-row justify-between items-center md:h-[80%] h-[80%] bg-white rounded-md w-[95%] text-black"
      >
        <span
          class="m-4 text-2xl text-black font-semibold flex-1 mr-2 text-center"
          >{{ question.question }}</span
        >
      </div>
    </div>
    <div
      class="grid md:grid-cols-2 grid-cols-1 gap-4 w-[95%] justify-center items-center"
    >
      <div
        *ngFor="let option of question.options"
        (click)="choseOption(option)"
        class="{{
          isQuestionDone &&
          chosenOption !== null &&
          chosenOption === option &&
          option.isCorrectAnswer
            ? 'bg-green-700 text-white'
            : isQuestionDone &&
              chosenOption !== null &&
              chosenOption === option &&
              !option.isCorrectAnswer
            ? 'bg-red-900 text-white'
            : isQuestionDone &&
              chosenOption !== null &&
              chosenOption !== option &&
              option.isCorrectAnswer
            ? 'bg-green-700 text-white'
            : isQuestionDone &&
              chosenOption !== null &&
              chosenOption === option &&
              !option.isCorrectAnswer
            ? 'bg-red-900 text-white'
            : chosenOption === option
            ? 'bg-blue-700 text-white'
            : 'bg-white text-black'
        }} transition-all duration-200 rounded-md py-3 px-3 w-[98%] cursor-pointer flex flex-row justify-between items-center h-[10vh]"
      >
        <span class="flex-1 w-full text-center text-lg m-1 font-bold">{{
          option.name
        }}</span>
        <mat-icon
          class="m-2"
          *ngIf="
            (isQuestionDone &&
              chosenOption !== null &&
              chosenOption === option &&
              option.isCorrectAnswer) ||
            (isQuestionDone &&
              chosenOption !== null &&
              chosenOption !== option &&
              option.isCorrectAnswer)
          "
          >check</mat-icon
        >
        <mat-icon
          class="m-2"
          *ngIf="
            isQuestionDone &&
            chosenOption !== null &&
            chosenOption === option &&
            !option.isCorrectAnswer
          "
          >close</mat-icon
        >
      </div>
    </div>
  </div>
  <div></div>
</div>
<div
  class="flex flex-row justify-center items-center my-2 py-2 h-[100vh]"
  *ngIf="quiz === null"
>
  <span class="text-2xl font-bold m-1 text-white"
    >No Quiz Found With This Id</span
  >
</div>
