<div
  class="flex flex-row justify-start bg-yellow-800 md:items-start items-center w-[80vw] md:w-[50vw] md:h-[50vh] h-[90vh] py-2 px-2 overflow-y-scroll md:max-h-[50vh] max-h-[90vh] noScroll"
>
  <form
    class="w-[98%] md:w-[980%] gap-2 py-2 rounded-md flex flex-col justify-center items-center md:m-0"
    [formGroup]="formGroup"
  >
    <span class="mt-2 mb-2 text-lg font-bold text-white">Welcom!! :)</span>
    <span
      class="mt-2 mb-2 text-md font-bold text-red-700"
      *ngIf="error !== ''"
      >{{ error }}</span
    >
    <div class="w-[98%]">
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        type="email"
        formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="John@123.net"
        required
      />
    </div>
    <div class="w-[98%]">
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >password</label
      >
      <input
        type="password"
        formControlName="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="password"
        required
      />
    </div>
    <div class="w-[98%]">
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Name</label
      >
      <input
        type="text"
        formControlName="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="John"
        required
      />
    </div>
    <button class="btn solid success my-5 w-[98%]" (click)="login()">
      <mat-spinner [diameter]="30" class="m-2" *ngIf="loading"></mat-spinner>
      Register
    </button>
    <span
      (click)="openModel()"
      class="my-1 font-bold text-md hover:underline text-white cursor-pointer"
      >have an account? login</span
    >
  </form>
</div>
