<div class="flex flex-row justify-center items-start w-full h-fit text-white">
  <form
    class="md:w-[98%] w-[98%] h-fit py-2 flex flex-col justify-center items-center shadow-xl md:px-2 rounded-md my-3"
    [formGroup]="formGroup"
  >
    <span class="text-lg m-2 font-semibold text-white">Add A Quiz</span>
    <div
      class="mb-6 w-[98%] flex flex-col md:flex-row justify-between gap-2 items-center"
    >
      <div class="w-full">
        <label
          for="large-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label
        >
        <input
          type="text"
          formControlName="name"
          placeholder="quiz name"
          class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="w-full">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >description</label
        >
        <textarea
          rows="4"
          formControlName="description"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Write your description here..."
        ></textarea>
      </div>
    </div>
    <div class="mb-6 w-[98%]">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Select a category</label
      >
      <select
        formControlName="category"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option selected>Choose a country</option>
        <option value="{{ cat.value }}" *ngFor="let cat of categorioes">
          {{ cat.name }}
        </option>
      </select>
    </div>
    <div class="m-2 flex flex-col justify-center items-center h-fit w-[98%]">
      <button
        class="btn solid info h-full w-full"
        (click)="setaddQuestionForm()"
      >
        Add Question
      </button>
      <div
        *ngIf="questions.length > 0"
        class="flex flex-col justify-center items-center my-3"
      >
        <span class="text-md mb-3">Questions</span>
        <div
          *ngFor="let question of questions"
          class="flex flex-row justify-between w-[20vw] items-center"
        >
          <span class="m-2 h-full border-gray-200 w-20"
            >{{ question.question }}?</span
          >
          <mat-icon (click)="deletequestion(question)" class="cursor-pointer"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
    <form
      #f="ngForm"
      *ngIf="addQuestionForm"
      class="flex flex-col justify-center items-center m-2 w-full"
    >
      <div class="mb-6 w-[98%]">
        <label
          for="large-input"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Question</label
        >
        <input
          type="text"
          name="question"
          ngModel
          placeholder="Question"
          class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div
        *ngFor="let option of options"
        class="flex flex-row justify-between w-full items-center"
      >
        <span class="m-2 text-lg text-white flex-1 w-full">{{
          option.name
        }}</span>
        <mat-icon (click)="deleteOption(option)" class="cursor-pointer"
          >delete</mat-icon
        >
      </div>

      <span class="text-lg font-bold text-white m-2">Add Option</span>
      <div
        class="flex flex-row justify-between items-center w-full bg-white rounded-md"
      >
        <div class="flex flex-row justify-center items-center w-full">
          <div class="mb-6 w-[98%]">
            <label
              for="large-input"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >option name</label
            >
            <input
              type="text"
              name="option"
              ngModel
              placeholder="option name"
              class="block flex-1 w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
          </div>
          <mat-slide-toggle
            class="m-2 text-white"
            name="isCorrectAnswer"
            ngModel
            >is correct answer</mat-slide-toggle
          >
        </div>
        <button
          class="p-3 bg-blue-950 rounded-md text-white"
          (click)="addOption(f)"
        >
          Add
        </button>
      </div>
      <button
        (click)="addQuestion(f)"
        class="bg-blue-700 text-white p-3 rounded-md"
      >
        Add Question
      </button>
    </form>
    <button class="btn solid success w-full" (click)="addQuiz()">
      <mat-spinner [diameter]="30" class="m-2" *ngIf="loading"></mat-spinner>
      Add Quiz
    </button>
  </form>
</div>
